includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	ignoreErrors:
		-
			message: '#Parameter \#2 \$packageIds of static method Inspirum\\Balikobot\\Model\\Values\\OrderedShipment::newInstanceFromData\(\) expects array<int>, array\|int\|string given#'
			path: %currentWorkingDirectory%/src/Services/Balikobot.php
