<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration/</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="Interface.php">src/</directory>
                <directory suffix=".php">src/Definitions</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="display_errors" value="true"/>
        <env name="BALIKOBOT_API_USER" value="balikobot_test2cztest"/>
        <env name="BALIKOBOT_API_KEY" value="#lS1tBVo"/>
    </php>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>