<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix="Interface.php">src/</directory>
            <directory suffix=".php">src/Definitions</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration/</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="true"/>
        <env name="BALIKOBOT_API_USER" value="balikobot_test2cztest"/>
        <env name="BALIKOBOT_API_KEY" value="#lS1tBVo"/>
    </php>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
</phpunit>
