<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php" cacheDirectory="var/phpunit/cache">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="BALIKOBOT_API_USER" value="balikobot_test2cztest"/>
        <env name="BALIKOBOT_API_KEY" value="#lS1tBVo"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Definitions</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <clover outputFile="var/phpunit/logs/clover.xml"/>
            <text outputFile="var/phpunit/coverage/coverage.txt"/>
        </report>
    </coverage>
</phpunit>
